* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    max-width: 375px;
    height: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.qr-image {
    height: 325px;
}

img {
    height: 325px;
    width: 100%;
    border-radius: 15px;
}

.top-content {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    padding: 25px 10px;
    color: hsl(218, 44%, 22%);
}

.bottom-content {
    font-size: 18px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 15px;
    margin-bottom: 25px;
}

/* div {
    border: 1px solid black;


} */